<div class="course-two__item">
    <div class="course-two__thumb">
        <img [src]="imageUrl" [alt]="course.title" style="height: 230px; object-fit: cover; width: 100%;">
        <div class="course-video-overlay" *ngIf="videoUrl">
            <video controls [src]="videoUrl" class="w-100"></video>
        </div>
        <a class="course-two__like" href="javascript:void(0);"><span class="icon-like"></span></a>
    </div><!-- /.course-thumb -->
    <div class="course-two__content">
        <div class="course-two__time">{{ course.duration }}</div>
        <div class="course-two__ratings">
            <span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span
                class="icon-star"></span><span class="icon-star"></span>
            <div class="course-two__ratings__reviews">(25 Reviews)</div>
        </div>
        <h3 class="course-two__title">
            <a [routerLink]="['/courses', course.id]">{{ course.title }}</a>
        </h3>

        <p class="course-desc" *ngIf="course.description">{{ course.description | slice:0:100 }}{{
            course.description.length > 100 ? '...' : '' }}</p>

        <div class="summary-section mt-3 mb-3">
            <button (click)="fetchSummary()" class="btn-summary">
                <i class="fa" [class.fa-chevron-down]="!showSummary" [class.fa-chevron-up]="showSummary"
                    *ngIf="!loadingSummary"></i>
                <i class="fa fa-spinner fa-spin" *ngIf="loadingSummary"></i>
                {{ showSummary ? 'Hide Summary' : 'Show Summary' }}
            </button>
            <div class="summary-content" *ngIf="showSummary">
                <p>{{ summary }}</p>
            </div>
        </div>

        <div class="course-two__bottom">
            <div class="course-two__author">
                <img src="/frontoffice/eduact-html/assets/images/course/author-1.png" alt="author">
                <h5 class="course-two__author__name">{{ course.instructor }}</h5>
                <p class="course-two__author__designation">{{ course.category }}</p>
            </div>
            <div class="course-two__meta">
                <h4 class="course-two__meta__price">${{ course.price }}</h4>
                <p class="course-two__meta__class">{{ course.level }}</p>
            </div>
        </div>
    </div><!-- /.course-content -->
</div>