<footer class="main-footer-two">
    <div class="main-footer-two__bg" style="background-image: url(/frontoffice/eduact-html/assets/images/shapes/footer-bg-2.png);"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-5 wow fadeInUp" data-wow-delay="100ms">
                <div class="main-footer-two__about">
                    <a routerLink="/" class="main-footer-two__logo">
                        <img src="/frontoffice/eduact-html/assets/images/footer-logo-two.png" alt="eduact" width="159" height="40">
                    </a><!-- /.footer-logo -->
                    <ul class="main-footer-two__info-list">
                        <li><span class="icon-Location"></span>6391 Elgin St. Celina, Delaware 10299</li>
                        <li><span class="icon-Telephone"></span><a href="tel:3035550105">(303) 555-0105</a></li>
                        <li><span class="icon-Email"></span><a href="mailto:michael.mitc@example.com">michael.mitc@example.com</a></li>
                    </ul>
                    <div class="main-footer-two__social">
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                    </div><!-- /.footer-social -->
                </div><!-- footer-top -->
            </div>
            <div class="col-xl-3 col-md-4 wow fadeInUp" data-wow-delay="200ms">
                <div class="main-footer-two__navmenu main-footer-two__widget01">
                    <h3 class="main-footer-two__title">Quick Links</h3>
                    <ul>
                        <li><a routerLink="/courses">Latest Courses</a></li>
                        <li><a href="javascript:void(0);">Mission & Vision</a></li>
                        <li><a href="javascript:void(0);">Our Approach</a></li>
                        <li><a href="javascript:void(0);">Exclusive Advisors</a></li>
                        <li><a href="javascript:void(0);">Join a Carrer</a></li>
                    </ul><!-- /.list-unstyled -->
                </div><!-- /.footer-menu -->
            </div>
            <div class="col-xl-2 col-md-3 wow fadeInUp" data-wow-delay="300ms">
                <div class="main-footer-two__navmenu main-footer-two__widget02">
                    <h3 class="main-footer-two__title">Explore</h3>
                    <ul>
                        <li><a routerLink="/frontoffice/about-us">About Us</a></li>
                        <li><a routerLink="/courses">Upcoming Events</a></li>
                        <li><a href="javascript:void(0);">Blog & News</a></li>
                        <li><a href="javascript:void(0);">FAQ Question</a></li>
                        <li><a href="javascript:void(0);">Privacy Policy</a></li>
                    </ul><!-- /.list-unstyled -->
                </div><!-- /.footer-menu -->
            </div>
            <div class="col-xl-3 col-md-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="main-footer-two__gallery">
                    <h3 class="main-footer-two__title">Gallery</h3>
                    <div class="main-footer-two__galleries">
                        <a class="img-popup" href="/frontoffice/eduact-html/assets/images/gallery/fg-1.jpg"><img src="/frontoffice/eduact-html/assets/images/gallery/fg-1.jpg" alt="eduact"></a>
                        <a class="img-popup" href="/frontoffice/eduact-html/assets/images/gallery/fg-2.jpg"><img src="/frontoffice/eduact-html/assets/images/gallery/fg-2.jpg" alt="eduact"></a>
                        <a class="img-popup" href="/frontoffice/eduact-html/assets/images/gallery/fg-3.jpg"><img src="/frontoffice/eduact-html/assets/images/gallery/fg-3.jpg" alt="eduact"></a>
                    </div>
                </div><!-- /.gallery -->
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</footer><!-- /.main-footer-two -->

<section class="copyright text-center">
    <div class="container wow fadeInUp" data-wow-delay="400ms">
        <p class="copyright__text">Copyright 2026 | Eduact HTML Template. All Rights Reserved</p>
    </div><!-- /.container -->
</section><!-- /.copyright -->
